<div class="chatrooms-index">
  <% @all_feasts.each do |feast| %>
    <div class="choose-chat">
        <%= feast.title %>
        <%=  link_to "chat", feast_chatrooms_path(feast, anchor: "new_message"), class:'bttn btn-chat'%>
    </div>
  <% end %>
</div>
