<div class="default-container">
 <div class="side-banner">
  <%= image_tag "side_banner.jpg", alt: "Side banner", class: 'side-banner-img' %>
  <div>
   <h2>Moveable Feasts</h2>
  </div>
 </div>
 <div class="banner-container">
  <h1 class="banner-header">Moveable Feasts</h1>
 </div>
</div>
<div class="cards-container">
 <div class="default-card">
  <%= image_tag "test.jpg", alt: "Side banner", class: 'card-img' %>
 </div>
</div>