<div class="default-container">
 <div class="side-banner">
 <div>
   <p class= "side-baner-header">In almost every culture food brings people together and builds relationships. <br><br>
We created Moveable Feasts to link people together, whether you just moved here, are looking for some new friends, or want to host a dinner yourself.
 <br><br>
Once you sign up you can host a dinner or join a meal. Our goal is to put you in touch with delicious meals, potential future friends, and good spirits.</p>
  <%# video_tag "feast.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, alt: "Side banner", class: 'side-banner-img' %>
  <%= link_to "New event", new_feast_path, class: "bttn bttn1" %>
  </div>
 </div>
 <div class="banner-container">
    <%= video_tag "feast.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, alt: "Side banner", id: "video", :size => "600x400" %>
  <h1 class="banner-header">Moveable Feasts</h1>
  <div class="banner-search">
    <%= render 'shared/search' %>
    
    </div>
 </div>
</div>
