<div class="default-container">
 <div class="side-banner">
 <div>
   <h2 class= "side-baner-header">Moveable Feasts</h2>
  <%# video_tag "feast.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, alt: "Side banner", class: 'side-banner-img' %>
  </div>
 </div>
 <div class="banner-container">
    <%= video_tag "feast.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, alt: "Side banner", id: "video", :size => "600x400" %>
  <h1 class="banner-header">Moveable Feasts</h1>
  <div class="banner-search">
    <%= render 'shared/search' %>
    </div>
 </div>
</div>
