<div class = "footer-container">
  <div class = "lighter-footer">
    <h5>Connect to MF anywhere & anytime</h5>
    <!-- <p>Download the MF app to find your next dinner and stay connected with your new friends</p> -->
    <%= image_tag "google-play-badge.png", class: "footer-google" %>
    <%= image_tag "apple-badge.svg", class: "footer-apple" %>
  </div>

  <div class = "darker-footer">
    <div class = "left-side-footer">
      <%= link_to root_path class: "footer-logo" do %>
        <span class = "footer-first-letter">M</span>oveable <span class = "footer-first-letter">F</span>easts
      <% end %>
      <!-- <h4>Follow us</h4> -->
      <ul>
        <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
      </ul>
    </div>
    <div class = "right-side-footer">
      <ul>
       <li>Support</li>
       <li>Help us improve</li>
       <li>About Movable Feasts</li>
      </ul>
      <p class = "copy-right">© 2020 Movable Feasts Terms of Service Privacy PolicyCookie Policy</p>
    </div>
  </div>
</div>
