<% if @reservation %>
    <span class = "status-show"><%= @reservation.status if !@reservation.nil? %></span>

<% else %>

    <a class="bttn-dark bttn2" data-toggle="modal" data-target="#reservation-popup">
        Reserve
    </a>

<% end %>