<% if @reservation %>
    <strong><%= @reservation.status if !@reservation.nil? %></strong>

<% else %>

    <a class="bttn-dark bttn2" data-toggle="modal" data-target="#reservation-popup">
        Reserve
    </a>

<% end %>