<div class = "testimonials-container">
  <div class = "testimonial-item">
    <%= image_tag "testimonials2.jpg", alt: "testimonial's image", class: 'testimonail-img' %>
    <div class = "testimonail-text">
      <p><span><i class="fas fa-quote-left"></i></span> I just moved to Amsterdam in January and I was looking to make strong friendships outside of work. I am originally from Japan and miss making meals with my family, Moveable Feasts allowed me to share my passion for cooking with interested and exciitng new people. <span><i class="fas fa-quote-right"></i></span></p>
    </div>
    <div class = "testimonial-header-background">
      <%= image_tag "franki.jfif", class: "testimonial-avatar" %>
      <h3 class = "testimonail-header">Franki</h3>
      <p class = "testimonail-hosted">Hosted 4 Dinners</p>
    </div>
  </div>

  <div class = "testimonial-item">
    <%= image_tag "testimonials1.jpg", alt: "testimonial's image", class: 'testimonail-img' %>
    <div class = "testimonail-text">
      <p><span><i class="fas fa-quote-left"></i></span> I studied abroad in university and I remember how nice it was when my host family made breakfast for me. I wanted to be able to share that feeling with new commers as a local of Amsterdam. <span><i class="fas fa-quote-right"></i></span></p>
    </div>
     <div class = "testimonial-header-background">
        <%= image_tag "tommy.jfif", class: "testimonial-avatar" %>
          <h3 class = "testimonail-header">Tommy</h3>
          <p class = "testimonail-hosted">Hosted 2 Brunches</p>
      </div>
   </div>
</div>