.side-banner {
 text-align: center;
 background-color: #DF9874;
}

.side-banner-img {
  height: 200px;
  margin: 60px 20px 20px 20px;
  justify-content: center;
}

.banner-container {
 background:linear-gradient(135deg, rgba(14, 7, 7, 0.8)0%, rgba(0,0,0,0.3)50%), image-url("banner.jpg");
 background-size: cover;
 height: 60vh;
 display: flex;
 align-items: flex-start;
 justify-content: center;
}
.banner-header {
 color: #EAE1D7;
 padding-top: 20px;
}