#messages {
border: 1px solid rgba(105, 105, 105, 0.3);
border-radius: 10px;
margin: 25px;
box-shadow: 10px 10px 30px -8px rgba(105,105,105,0.3);
}

.chatroom-info {
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.chatroom-info .bold {
  color: #c87d41;
  }

h1 {
  font-size: 30px;
  margin: 10px;
  opacity: .5;
}
