.chatrooms-index {
  display: flex;
}

.choose-chat {
  border: 1px solid black;
  align-items: center;
  margin: 25px;
  padding: 60px;
  justify-content: space-evenly;
}

.btn-chat {
  margin: 10px;
}
