.chatrooms-index {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  flex-wrap: wrap;
}

.choose-chat {
  width: 300px;
  border: 1px solid #c87d41;
  border-radius: 5px;
  margin: 25px 0;
  padding: 40px;
  text-align: center;
}

.choose-title {
 text-align: center;
 font-weight: bold;
}

.choose-btn {
 margin: 20px;
}

.btn-chat {
  margin: 10px;
}
