.default-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.show-container {
  max-width: 800px;
  margin: 40px auto;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
  position: relative;
}
.login-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
}

.testimonials-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  grid-gap: 16px;
}
.index-container {
  max-width: 1200px;
  margin: 0 auto;
}
.default-index-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 350px;
}

@media(max-width: 575px) {
  .testimonials-container, .default-container {
    grid-template-columns: 1fr;
    position: relative;
  }
  .testimonial-avatar {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}

@media(max-width: 1000px) {
  .testimonials-container, .default-container {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    grid-gap: 16px;
  }
}
