.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#map.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}