#user-message {
  border-radius: 20px;
  max-width: 400px;
  padding: 15px;
  margin: 15px;
  background-color: #696969;
  color: #F1EBE4;
}

.user-time {
  color: #c87d41;
}

.message-content {
  font-size: 18px;
}
