.message-wrapper {
  display: flex;
}

.message-container {
  border-radius: 20px;
  max-width: 400px;
  padding: 10px 15px;
  margin: 15px;
  background-color: #696969;
  color: #F1EBE4;
  display: inline-block;
}

.message-container p {
  margin: 0;
}

.user-time {
  color: #c87d41;
}

.message-content {
  font-size: 18px;
}

#messages {
  padding-bottom: 30px;
      margin: 20px 0;
}

#message_content {
  background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    margin: 0;
}

#message_content:focus {
  border-color: #c77d41;
  box-shadow: 0 0 0 0.2rem #c77d41;
}

// #messages .message-container:nth-child(odd) {
//   text-align: right;
// }


.author-info {
  margin: 0 15px;
}





.message-wrapper .message-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-wrapper .message-container {
  background-color: #878787;
}

    .message-wrapper {
  justify-content: flex-end;
}
