.navbar-lewagon {
  justify-content: space-between;
  background: #F1EBE4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  position: relative;
  left: 50px;
}

.navbar-logo a {
  font-family: 'Rubik Mono One', cursive;
  font-size: 30px;
  text-decoration: none;
  color: #50514F;
}

.logo-first-letter {
  font-size: 40px;
  color: #c87d41;
}

.dropdown-menu{
  background-color: #50514F;
  border-radius: 10px;
  opacity: 0.5;
}

.dropdown-menu a {
  color: #F1EBE4;
}

.nav-item {
  margin-right: 20px;
}
