.user-profile {
  display: flex;
  gap: 100px;
  margin: 50px 0;
}

.socials ul li {
  list-style: none;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.socials ul li a {
  font-size: 25px;
  color: #c87d41;
}

.socials ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0;
}

.user-info {
// border: 3px solid #c87d41;
// border-style: none dashed none none;
text-align: center;
width: 400px;
// background-color: #F1EBE4;
// margin: 15px;
padding-right: 15px;
}



.user-picture {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  // padding-right: 30px;
  margin-bottom: 15px;
}
