.userprofile {
  display: flex;
}


.user-info {
border: 3px solid #c87d41;
border-style: none dashed none none;
text-align: center;
max-width: 350px;
background-color: #F1EBE4;
margin: 15px;
padding: 20px;
}

.reviews {
margin: 15px;
max-width: 400px;

}
