<div>
  <div>
    <%= render 'shared/search', class: "index-container" %>
    </div>
</div>
<div class="default-index-container">
<div>
<% @feasts.each do |feast| %>
        <%= render "shared/indexcard", feast: feast %>
<% end %>
</div>

    <div id="map" class = "map-index"
        style="width: 100%; height: 100vh; position:sticky; top:0;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
